body {
    background-image: linear-gradient(to left, #81D2EB, #D8F6FF, #81D2EB);
}

#top {
    background-color: rgb(255, 255, 255);
    margin: 2% 10%;
    border-radius: 15px;
}

#top img {
    display: block;
    width: 15%;
    margin: 0 auto;
}