body {
    background-image: linear-gradient(to left, #EA894A, #FFDBC1, #EA894A);
}

#top {
    background-color: rgb(198, 0, 1);
    margin: 1.5% 11%;
    border-radius: 15px;
}

#top img {
    display: block;
    width: 15%;
    margin: 0 auto;
}