body {
    background-image: linear-gradient(to left, #CF4848, #FF9696, #CF4848);
}

#top {
    background-color: rgb(255, 255, 255);
    margin: 1.5% 11%;
    border-radius: 15px;
}

#top img {
    display: block;
    width: 10%;
    margin: 0 auto;
}